<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/chatStyle.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <style >
      #FormChatt{
        display: none;
      }
    </style>
    <title>Chat App</title>
  </head>
  <body>

  <div id="FormSignIn" class="FormSignIn">

    <div class="menu">
                <div class="name">Sign In </div>
            </div>
      <div class="corp">
            <div class="container">

            <form class="form-signin" id ="form-signin">
              <h2 class="form-signin-heading">Please sign in</h2>
              <label for="inputName" class="sr-only">Enter Your Name</label>
              <input id="username" class="form-control" placeholder="Enter Your Name" required="" autofocus="">
              <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
          </div>
        </div>
  </div>

  <div  class="FormChat" id="FormChatt">

          <div class="menu">
                      <div class="back"><i class="fa fa-chevron-left"></i> <img src="https://i.imgur.com/DY6gND0.png" draggable="false"/></div>
                      <div id="name" class="name"></div>
                      <div class="last">18:09</div>
                  </div>
              <div class="container" style="margin-top:53px;">
              <div class="row">
                <div class="col-md-3" >
                  <div class="well">
                    <h3>Online Users</h3>
                    <ul class="list-group" id="users"></ul>
                  </div>
                </div>
                  <div class="col-md-8">
                        <ol class="chat" >
                          <li class="other">
                              <div class="avatar"><img src="https://i.imgur.com/DY6gND0.png" draggable="false"/></div>
                            <div class="msg">
                              <p id='othermsg'></p>
                            </div>
                          </li>
                          <li class="self">
                              <div class="avatar"><img src="https://i.imgur.com/HYcn9xO.png" draggable="false"/></div>
                            <div class="msg">
                              <p id="selfmsg"></p>
                            </div>
                          </li>
                      </ol>
                        <form action="" id="FormChat">
                        <input id ="messages" class="textarea"  type="text" placeholder="Type here!"/><div class="emojis"></div>
                        </form>
                </div>
                  </div>
              </div>
        </div>
        <script src="/javascripts/jquery.min.js"></script>
        <script src="/javascripts/socketIoScript.js"></script>
        <script >



          var socket=io();
          var username;


          /*$('FormSignIn').submit(function(){
            socket.emit('name',{'user':$('#name').val(),function(data){
              if(data){
                $('FormSignIn').hide();
                $('FormChat').show();
              }
            }});*/

            $('#form-signin').submit(function(){
              socket.emit('new user',$('#username').val(),function(data){
                if(data){
                username=$('#username').val();
                  $('#FormSignIn').hide();
                  $('#FormChatt').show();
                  $('#name').append($('<label>').text(''));
                  $('#name').append($('<label>').text($('#username').val()));
                }
              });
              return false;
            });

            socket.on('get users',function(data) {
              var html='';
              for (var i = 0; i < data.length; i++) {
              //  $('#users').append($('<li class="list-group-item">').text(data[i]));

                html+='<li class="list-group-item">'+data[i]+'</li>';
              }
              $('#users').html(html);
            });

          $('#FormChat').submit(function(){
            socket.emit('chat message',{'msg':$('#messages').val(),'username':username});
           $('#messages').val('');
           return false;
          });
          socket.on('chat message', function(msg) {
            console.log('im here '+msg.username);
            if(msg.username==username){
              $('#selfmsg').append($('<li>').text(msg.msg));
            }
            else {
                $('#othermsg').append($('<li>').text(msg.msg));
            }
          });
        </script>
  </body>
</html>
